<!DOCTYPE html>
{% extends 'delivery/layout.html' %}
{%load static%}

{% block title %}Register Shipment| {% endblock %}

{% block content %}
    <div class="w3-container w3-padding-64 shipment-form">
        
        <div class="w3-container w3-half">

            <h1>Register Shipment</h1>
            {% include 'partials/_flash_messages.html'%}

            <form method="post" action="" autocomplete="off">
                {% csrf_token %}
                {% autoescape on %}

                    <input class="ship-input" type="text" name="email" value="{{data.email}}" placeholder="Enter email: eg@mail.com" required/>
                    <br>
                   
                    <input class="ship-input" type="text" name="full_name" value="{{data.full_name}}" placeholder="Enter full name. eg: John Doe" required/>
                    <br>
                    
                    <input class="ship-input" type="text" name="phone" value="{{data.phone}}" placeholder="Enter mob number. eg: 0123456789">
                    <br>
                    
                    <input class="ship-input" type="text" name="package" value="{{data.package}}" placeholder="Enter package discription. eg: Tv set" required/>
                    <br>

                    <input class="ship-input" type="text" name="origin" value="{{data.origin}}" placeholder="Enter origin. eg: London" required/>
                    <br>

                    <input class="ship-input" type="text" name="destination" value="{{data.destination}}" placeholder="Enter destination. eg: Singapore" required/>
                    <br>
                    
                    <input class="ship-input" type="text" name="weight" value="" placeholder="Enter package weight. eg: 10kg" required />
                    <br><br>

                    <input class="w3-button w3-green reg_button"  type="submit" value="Register"><br>

                {% endautoescape %}
                
            </form>
            <small> By submitting, you agree to our <a href="#">Terms and Policies.</a> In addition, you also agree to receive email messages from us.</small>
        </div>
    </div>
{% endblock %}